$c-black: #000000;
$c-white: #FFFFFF;
$c-orange: #FF8D23;
$c-blue: #3F75FF;
$c-aqua: #24B7A5;
$c-gray: #828282;
$c-semi-black: #212121;
$c-black-text: #424242;
$c-light-blue: #ECF7FF;
$c-border-blue: #335DB0;