@import "../config/font.scss";
@import "../mixin/rem.scss";

.icon-link {
    display: flex;
    align-items: center;
    font-size: rem(12px);
    font-weight: 600;
    line-height: normal;
    text-decoration: none;

    svg {
      margin-right: rem(5px);
      line-height: normal;
    }
  }
  