// Import relevant config.
@import '../config/font.scss';
@import '../config/color.scss';

// Import all utility classes here.
@import '../utility/color/color.scss';
@import '../utility/color/fill.scss';
@import '../utility/button/button.scss';

body {
  font-family: $font-primary;
  margin: 0;
}

a {
  text-decoration: none;
  color: $c-semi-black;
}
