.orange-text {
  color: $c-orange;
}
.blue-text {
  color: $c-blue;
}
.aqua-text {
  color: $c-aqua;
}

.orange-fill {
  fill: $c-orange;
}
.blue-fill {
  fill: $c-blue;
}
.aqua-fill {
  fill: $c-aqua;
}