@import "./config/font.scss";
@import "./config/color.scss";
@import "./mixin/rem.scss";
@import "./mixin/breakpoint.scss";
@import "./mixin/grid.scss";
@import "./basic/base.scss";
@import "./basic/util.scss";
@import "./components/button.scss";
@import "./components/date.scss";
@import "./components/heading.scss";
@import "./components/icon-link.scss";
@import "./components/link.scss";
@import "./components/text.scss";

.ks-tile {
  &__items {
    display: flex;
    flex: 0 0 100%;
    overflow-x: scroll;
    padding: rem(2px 2px 20px);

    &::-webkit-scrollbar-track {
      border-radius: rem(10px);
      background-color: $c-white;
    }
    &::-webkit-scrollbar {
      height: rem(16px);
      border-radius: rem(10px);
	    background-color: $c-white;
    }
    &::-webkit-scrollbar-thumb {
      border: 4px solid$c-white;
      border-radius: rem(10px);
	    background-color: rgba(33,33,33,0.15);
    }
  }
  
  &__item {
    position: relative;
    padding: rem(25px 16px 16px);
    height: rem(253px);
    min-width: rem(263px);
    border-radius: rem(5px);
    box-shadow: 0 0 2px .5px rgba(0, 0, 0, 0.1);
    background-color: $c-white;

    &:not(:last-child) {
      margin-right: rem(32px);
    }
  }
  &__top {
    margin-bottom: rem(32px);
  }
  &__bottom {
    position: absolute;
    bottom: rem(16px);
    left: rem(16px);
  }
}


.ks-bar-tile {
  display: flex;
  padding: rem(16px);
  background-color: $c-white;
  box-shadow: 0 0 2px .5px rgba(0, 0, 0, 0.1);

  &:not(:last-child) {
    margin-bottom: rem(8px);
  }

  @include responsive-set('above-mobile') {
    align-items: center;
  }

  &-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
  }
}

// Upcoming bloc CSS
.ks-upcoming-block {
  display: block; 
  width: 1280px; //TODO tmp, code will remove while page theming or replace with container width
  max-width: 100%;
  margin: 0 auto; 

  &__discription {
    margin-top: rem(16px);
  }
}


// Recent block CSS
.ks-recent-block {
  display: block; 
  width: 1280px; //TODO tmp, code will remove while page theming or replace with container width
  max-width: 100%;
  margin: rem(50px auto 0);

  &__title {
    float: left;
  }

  &__btn-see-all {
    float: right;
  }

  &__bar {
    clear: both;
  }

  &__date {
    flex: 0 0 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;

    @include responsive-set('above-mobile') {
      flex: 0 0 auto;
    }

    &-two-digit {
      line-height: normal;
    }
  }

  &__text {
    flex: 0 0 100%;
    max-width: 100%;

    @include responsive-set('tablet') {
      max-width: rem(280px);
    }

    @include responsive-set('tablet-landscape') {
      max-width: rem(480px);
    }

    @include responsive-set('desktop') {
      max-width: rem(675px);
    }

    .default-text {
      margin-bottom: rem(8px);

      &:last-child {
        @include responsive-set('above-mobile') {
          margin-bottom: 0;
        }
      }
    }
  }
}